.App {
	height: 350px;
	width: 50%;
}

.map-one{
	border: 1px solid black;
	width: 47%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-two{
	border: 1px solid black;
	width: 47%;
	float: right;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-three{
	border: 1px solid black;
	width: 96%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
div#eleven {
    width: 70%;
    float: right;
}
.direction-container{
	max-height: 460px;
	overflow: auto;
}
.customClass{
	height: 96%;
}